---
layout: archive
title: "Service"
permalink: /service/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<p>Area Chair:</p>
<ul>
  <li>Computer Vision and Pattern Recognition (CVPR) 2024</li>
  <li>International Conference on Learning Representations (ICLR) 2024</li>
  <li>International Conference on Medical Image Computing and Computer Assisted Intervention (MICCAI) 2022 - 2023</li>
  <li>Conference on Health, Inference, and Learning (CHIL) 2022-2023</li>
</ul>

